# Company House API
CH_KEY_NAME
CH_API_KEY
SERPER_API_KEY

# System Folders
OUTPUT_DIR

# Azure OpenAI API Key
AZURE_OPENAI_DEPLOYMENT_NAME
AZURE_OPENAI_EMBEDDING_MODEL_NAME
AZURE_OPENAI_KEY
AZURE_OPENAI_ENDPOINT
AZURE_OPENAI_VERSION

# Adverse Media APIs
NEWSAPI_KEY
BING_NEWS_KEY
TWITTER_API_KEY

# Configuration
ADVERSE_TIMEFRAME_DAYS=365